extends layout

block content
 div.row
  div.col-xs-12
   p Web Data Extraction ist eine Webseite zur Überwachung der Preisentwicklung einiger Produkte (am Beispiel eines Shops)
   P Projektsstudie Entwicklung von Mobilen Unternehmensanwedung
   p Sommer Semester 2018
   p Studiengang : Wirtschaftsinformatik
   p Hochschule Heilbronn
