extends layout-new

block content
  div.col-xs-12
    div.row
      div.col-xs-4
        select.form-control
          option Kategorie
      div.col-xs-6
        input.form-control(type="search", placeholder="suchen...")
      div.col-xs-2
        button.btn.btn-success.btn-block suchen
    div.row
      div.row
        br
        br
      each nb in [0,1,2,3]
        div.col-xs-12.product
          div.col-xs-4
            h2
              b Produkt #{nb}
          div.col-xs-4 Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum id tellus euismod, auctor arcu id, tempor diam. Suspendisse porta metus eu diam dapibus blandit. Ut quis imperdiet
          div.col-xs-4.text-right
            h3.text-success
              b 30€
            br
            a.btn.btn-default(href="/product") Azeigen