extends layout

block content
    .container
        .jumbotron
            .container
                h1 Test your Price
                p all Shop
                a.btn.btn-primary.btn-lg(href='/') learn more?

        div.col-xs-12
            div.row
                div.col-xs-4
                    select.form-control
                        option.btn.btn-success.btn-warning Kategorie
                        option.btn.btn-success.btn-info Preis
                        option.btn.btn-success.btn-danger Artikel
                div.col-xs-6
                    input.form-control(type="search", placeholder="Suchbegriff / Artikelnr. / e-Shop-Nr")
                div.col-xs-2
                    button.btn.btn-success.btn-block suchen







        .container
            .row
                .col-md-4
                    h2 Product
                    p jjhuzztttttt
                    a.btn.btn-default(href='/about') Anzeigen
                .col-md-4
                    h2 Product
                    p jjhuzztttttt
                    a.btn.btn-default(href='/contact') Anzeigen

                .col-md-4
                    h2 Product
                    p jjhuzztttttt
                    a.btn.btn-default(href='/about') Anzeigen

