doctype html
html
    head
        link(type="text/css", rel="stylesheet", media="screen" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css")
        link(type="text/css" rel="stylesheet" href="stylesheets/style.css")
        title my jade template
    body
        div.container
            div.row
                div.col-xs-4
                    img#logo.img-responsive(src="http://www.creationlogo.org/wp-content/uploads/2017/08/Logo_TV_2015.png", height=100)
            div.row
                hr#separator
            div.row
                block content
    footer

              p.container-fluid.text-center.text-md-left
                .row
                  // First column
                  .col-md-6


                  ul.list-unstyled
                   li
                      a(href="/impressum") Impressum


              .footer-copyright.py-3.text-center
                | &copy; 2018 Copyright:
                a(href='https://mdbootstrap.com/material-design-for-bootstrap/')  MDBootstrap.com









