doctype html
html
    head
        title Web Data extraction
        meta(charset='utf-8')
        meta(http-equiv='X-UA-Compatible', content='IE=edge')
        meta(name='viewport', content='width=device-width, initial-scale=1')
        link(href='stylesheets/bootstrap.css', rel='stylesheet')
        link(href='stylesheets/styles.css', rel='stylesheet')
    body
        nav.navbar.navbar-inverse.navbar-fixed-top
            .container
                .navbar-header
                    button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#navbar', aria-expanded='false', aria-controls='navbar')
                        span.sr-only Toggle navigation
                        span.icon-bar
                        span.icon-bar
                        span.icon-bar
                    a.navbar-brand(href='#') Web Data Extraction
                #navbar.collapse.navbar-collapse
                    ul.nav.navbar-nav
                        li.dropdown
                            a#drop1.dropdown-toggle(href='#', role='button', data-toggle='dropdown')
                                span.caret
                                | Home
                            ul.dropdown-menu.tab1(role='menu', aria-labelledby='drop1')
                                li(role='presentation')
                                    a(role='menuitem', tabindex='-1', href='seite1', target='_top') Seite1
                        li.dropdown
                            a#drop2.dropdown-toggle(href='#', role='button', data-toggle='dropdown')
                                span.caret
                                | Home2
                            ul.dropdown-menu.tab2(role='menu', aria-labelledby='drop2')
                                li(role='presentation')
                                    a(role='menuitem', tabindex='-1', href='seite2', target='_top') Seite2
    block content
    nav.nav-footer
        ul
            li
                | Copyright ©
                | 2018
                | Web Data Extraction
            li
                a(href='contact') Contact
            li
                a(href='impressum') Impressum
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js')
    script(src='javascripts/bootstrap.js')












