body {
  padding-top: 50px;

}

a {
  color:#9a2be2;
}
.jumbotron {
  background: url(../images/jumbotron-log.jpg) no-repeat;
  color: white;
}
#logo {
  height: 70px;
}

#separator {}

.product {
  min-height: 80px;
  border-bottom: 1px solid #ccc;
  padding: 2em;
}

.text-right {

}

footer{
  background: #2b669a;
  height: 50px;
  text-align: left;
  margin-top: 30px;
  padding: 50px;
  overflow: auto;
  color:white;

}


