body {
  padding-top: 50px;

}

a {
  color:#9a2be2;
}
.jumbotron {
  background: url(../images/jumbotron-log.jpg) no-repeat;
  color: white;
}
#logo {
  height: 70px;
}

#separator {}

.product {
  min-height: 80px;
  border-bottom: 1px solid #ccc;
  padding: 2em;
}

.text-right {

}

footer{
  background: #2aabd2;
  height: 20px;
  text-align: left;
  margin-top: 30px;
  padding: 50px;
  overflow: auto;
  /*color:white;*/
  color:dodgerblue;

}

.footerV2 {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: red;
  color: white;
  text-align: center;
}

